body{
  background: #eee;
  font-size: 0.875rem;
  line-height: 1.3;
}
tr.hidden-row{
  opacity: 0.3;
}
.price-holder{
  font-size: 30px;
  font-weight: bold;
}
.text-weight-bold{
  font-weight: bold;
}

.checkbox-holder{
  margin: 6px 5px 0;
}

.tier-list{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;

  li{
    white-space: nowrap;
  }
}